.angular-google-map-container { height:400px;}

.container{
    text-align: center;
}
.holder {
  padding-top: 85px;
}
.joinButton{
  margin-bottom: 15px;
  background: #2E9497;
  color: #FFFFFF;
  width: 400px;
}
.unjoinButton{
  background: #FF0000;
  color: #FFFFFF;
}