.angular-google-map-container { height:400px;}
.content{
  padding-top: 85px;
}
.title{
  color:#FFFFFF;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight:bolder;
  font-size: 72px;
}
.container{
    text-align: center;
}
.holder {
  padding-top: 85px;
}
.joinButton{
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 160px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #2E9497;
  color: #FFFFFF;
  font-weight:bold;
  border-color: #2E9497;
}
.unjoinButton{
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 160px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FF0000;
  color: #FFFFFF;
  font-weight:bold;
  border-color: #FF0000;
}
.eventPanel{
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  margin:0 auto;
  line-height: 300%;
  padding: 0px;
  
}
.topEventPanel{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
p {
    margin: 0 0 0;
}
.infoField{
  width: 100%;
}
.fieldName{
  text-align:left;
  margin-left: 10px;
  border-right: 1px solid #ccc;
}
.fieldValue{
  margin-left: 10px;
  text-align:left;
}
