<div ng-include="'app/components/navbar/navbar.html'"></div>
<div ng-controller="EventController as controller" class="container">
<div class="container content">
  <div class="holder">
  <div class="row">
    <p class="title">Join an event</p>
  </div>
  <div class="container">
    <md-whiteframe class="eventPanel topEventPanel" flex-xs="90" flex-sm="60" flex-md="45" flex-gt-md="30" layout="column">
    <!--<div class="column panel panel-default eventPanel topEventPanel">-->
      <div layout="row">
        <div flex="40" class="fieldName">
            Date
        </div>
        <div flex="60" class="fieldValue">
            {{controller.eventDate + " " + controller.eventTime}}
        </div>
      </div>
      <div layout="row" layout-xs="column">
        <div flex="40" class="fieldName">
            Sport
        </div>
        <div flex="60">
            {{controller.activity}}
        </div>
      </div>
      <div layout="row">
        <div flex="40" class="fieldName">
            Participants
        </div>
        <div flex="60" class="fieldValue">
            {{controller.eventParticipants}}
        </div>
      </div>
      <div layout="row">
        <div flex="40" class="fieldName">
            Min Participants
        </div>
        <div flex="60" class="fieldValue">
            {{controller.minParticipants}}
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="eventPanel topEventPanel" flex-xs="90" flex-sm="60" flex-md="45" flex-gt-md="30" layout="column">
    <!--<div class="column panel panel-default eventPanel">-->
      <div layout="row">
        <div flex="40" class="fieldName">
            Address
        </div>
        <div flex="60" class="fieldValue">
          {{controller.eventAddress}}
        </div>
      </div>
         <div layout="row">
          <div id="map" flex="100">
            <ui-gmap-google-map center='controller.map.center' zoom='controller.map.zoom'>
              <ui-gmap-marker ng-repeat="m in controller.markers" coords="m.coords" options="m.options" events="m.events" icon="m.icon" idkey="m.id"></ui-gmap-marker>
              <ui-gmap-polyline ng-repeat="p in controller.polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="true" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
            </ui-gmap-google-map>
          </div>
        </div>
    </md-whiteframe>
    <div flex="100">
      <md-button id="joinButton" type="button" class = "btn btn-default joinButton" ng-click="changeButton()">JOIN</md-button>
    </div>
  </div>
  </div>
</div>
</div>