<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <div class="navmenu-brand">Tindomondo</div>
  <ul class="nav navmenu-nav">
    <li class="active"><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Sign Out</a></li>
  </ul>
</nav>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"><span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <a class="navbar-icon navbar-toggle" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-icon navbar-toggle" href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>