<md-toolbar ng-cloak>
  <div class="md-toolbar-tools" ng-controller="NavbarController as controller">
    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu" hide-gt-sm="">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </md-button>
    <span flex></span>
    <img src="assets/images/tindo_logo.svg" alt="Tindomondo" style="height:17px;" />
    <span flex></span>
    <a data-ng-show="controller.loggedIn" data-ng-disabled="!controller.facebookReady" href="/#/addEvent" href="/#/addEvent">
    <md-button class="md-icon-button" aria-label="Add Event">
      <span class="glyphicon glyphicon-plus"></span>
    </md-button>
    </a>
  </div>
</md-toolbar>



