<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-icon navbar-brand"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <a class="navbar-icon navbar-toggle" href="#" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-icon navbar-toggle" href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>