.angular-google-map-container { height:400px;}

.panelmap{
    text-align: center;
    padding-top:50px;
}
.panel{
    text-align: center;
}
.holder {
  padding-top: 85px;
}
.joinButton{
  margin-bottom: 15px;
  background: #2E9497;
  color: #FFFFFF;
  width: 400px;
}
.button {
    text-align: center; 
}
#map {
  
  margin-bottom: 0px;
  top:0; 
  margin-left: auto;
  margin-right: auto;
  height:50%;
}
