<div ng-include="'app/components/navbar/navbar.html'"></div>
<div ng-controller="addEventController as controller">
<form name="controllerForm" ng-submit="controller.createEvent()" >
<div class="holder">
 <div class="title">
            Make an event
  </div>

<div class="container">
    <md-whiteframe class="eventPanel topEventPanel" flex-xs="90" flex-sm="60" flex-md="45" flex-gt-md="30" layout="column">

      <div layout="column">

        <div layout="row">

          <md-datepicker ng-model="controller.date" md-placeholder="Enter date">
          </md-datepicker>
          <md-input-container class="md-block">
            <label>Time</label>
            <input type="time" name="time" ng-model="controller.time"
                   required>
            <div ng-messages="controllerForm.time.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply the start time hours.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid hour format.</div>
            </div>
          </md-input-container>

        </div>


        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Sport</label>
              <md-select ng-model="controller.sport">
                <md-option ng-repeat="sport in controller.sports" ng-value="{{sport.id}}">
                  {{sport.name}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Min Participants</label>
            <input name="registration_min" ng-model="controller.registration_min"
                   required ng-pattern="/^\d+$/">
            <div ng-messages="controllerForm.registration_min.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply the minimum number of participants.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid number.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Max Participants</label>
            <input name="registration_limit" ng-model="controller.registration_limit"
                   required ng-pattern="/^\d+$/">
            <div ng-messages="controllerForm.registration_limit.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply the minimum number of participants.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid number.</div>
            </div>
          </md-input-container>
        </div>
        <div>
          <md-input-container class="md-block">
          <label>Event description</label>
          <textarea ng-model="controller.description" md-maxlength="100" rows="3" md-select-on-focus></textarea>
          </md-input-container>
        </div>
        </div>

      </md-whiteframe>
      <md-whiteframe class="eventPanel topEventPanel" flex-xs="90" flex-sm="60" flex-md="45" flex-gt-md="30" layout="column" layout="column">
        <div layout="row">
          <div flex="40" class="fieldName">
              Address
          </div>

          <div flex="60" class="fieldValue">
              {{controller.eventAddress}}

          </div>
        </div>
        <div layout="row">
          <div id="map" flex="100">
            <ui-gmap-google-map center='controller.map.center' zoom='controller.map.zoom' events='controller.map.events'>
              <ui-gmap-marker ng-repeat="m in controller.markers" coords="m.coords" options="m.options" events="m.events" icon="m.icon" idkey="m.id"></ui-gmap-marker>
              <ui-gmap-polyline ng-repeat="p in controller.polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="true" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
            </ui-gmap-google-map>
          </div>
        </div>

      </md-whiteframe>
      <div layout="row joinButtonBox" layout-align="center center">
        <button id="joinButton" type="submit" class = "btn btn-default joinButton">CREATE</button>
      </div>
</div>
</div>
</div>
</form>

</div>
