.panel{
    text-align: center;
}
.holder {
  padding-top: 85px;
}
.button {
    text-align: center; 
}
#map {
  
  margin-bottom: 0px;
  top:0; 
  margin-left: auto;
  margin-right: auto;
  height:50%;
}
