<div ng-controller="addEventController as controller">
<form ng-submit="controller.createEvent()" >
<div class="holder">
    <div ng-include="'app/components/navbar/navbar.html'"></div>
</div>
<div class="container">
    <div class="container content">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            Make an event
          </div>
        </div>
      </div>
      <div class="container panel panel-default createEventPanel topCreateEventPanel">
        <div class="row">
          <div class="col-md-4">
              <div class="fieldName">Date</div>
          </div>
          <div class="col-md-8">
              <div class="fieldValue"><input type="date" ng-model="controller.date"><input type="time" ng-model="controller.time"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="fieldName">Sport</div>
          </div>
          <div class="col-md-8">
              <div class="fieldValue">
                  <select ng-model="controller.sport" ng-options="sport.id as sport.name for sport in sports">
                  </select>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="fieldName">Max Participants</div>
          </div>
          <div class="col-md-8">
              <div class="fieldValue">
                  <select ng-model="controller.registration_limit" ng-options="n for n in [] | range:1:31">
                  </select>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="fieldName">Min Participants</div>
          </div>
          <div class="col-md-8">
              <div class="fieldValue">
                  <select ng-model="controller.registration_min" ng-options="n for n in [] | range:1:31">
                  </select>
              </div>
          </div>
        </div>
      </div>
      <div class="container panel panel-default eventPanel">
        <div class="row">
          <div class="col-md-4">
              <div class="fieldName">Address</div>
          </div>
          <div class="col-md-8">
            <div class="fieldValue"><input type="text" name="place" ng-model="controller.location"></div>
            <div class="fieldValue">{{controller.eventAddress}}</div>
          </div>
        </div>
        <div class="row">
          <div id="map" class="col-md-12">
            <ui-gmap-google-map center='controller.map.center' zoom='controller.map.zoom' events='controller.map.events'>
              <ui-gmap-marker ng-repeat="m in controller.markers" coords="m.coords" options="m.options" events="m.events" icon="m.icon" idkey="m.id"></ui-gmap-marker>
              <ui-gmap-polyline ng-repeat="p in controller.polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="true" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button id="joinButton" type="submit" class = "btn btn-default joinButton">CREATE</button>
      </div>
  </div>
</div>
</form>
</div>
