.loginButton {
  background: #2E9497;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FFF;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  border-color: #2E9497;
}

.citation{
  font-size: 20px;
  color:white;
  text-align:right;
  padding-top:60px;
  font-family: 'Montserrat', sans-serif;
}
.text{
  font-size: 30px;
  color:white;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}
.name{
  font-size: 15px;
  padding-top:25px;
  color:white;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}
.but{
  padding-top: 50px;
  text-align: right;
}