.loginButton {
  background-color: #2E9497;
}

.loginButton:hover {
  background-color: #2e9789;
}

.citation{
  font-size: 20px;
  color:white;
  text-align:right;
  padding-top:60px;
  font-family: 'Montserrat', sans-serif;
}
.text{
  font-size: 30px;
  color:white;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}
.name{
  font-size: 15px;
  padding-top:25px;
  color:white;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}
.but{
  padding-top: 50px;
  text-align: right;
}