<div ng-controller="giveFeedbackController as controller" class="column">
  <div class="row">
    <p class="title">Give feedback</p>
  </div>
    <md-whiteframe class="eventPanel topEventPanel" flex-xs="90" flex-sm="60" flex-md="45" flex-gt-md="30" layout="column">
      <div>
          <md-input-container class="md-block">
          <label>Event description</label>
          <textarea ng-model="controller.description" md-maxlength="100" rows="3" md-select-on-focus></textarea>
          </md-input-container>
      </div>
    </md-whiteframe>
</div>