.feedbackPanel{
  font-family: 'Montserrat', sans-serif;
  margin:0 auto;
  padding: 0px;
  background: #FFFFFF;
  border-radius: 5px;
}
.joinButton{
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 160px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #2E9497;
  color: #FFFFFF;
  font-weight:bold;
  border-color: #2E9497;
}
.joinButton:not([disabled]):hover {
  background-color: #2e8397;
  color: #FFFFFF;
  border-color: #2e8397;
}